body {
  height: 100vh;
  background-color: #0A0A1F;
  font-family: 'Yantramanav', 'serif';
}

.navbar-nav>li {
  padding-left: 20px;
  padding-right: 20px;
}

#background-logos {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#background-logos img {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
  opacity: 0.4;
}

#main-logo {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#header-text {
  position: absolute;
  margin-top: -150px;
  top: 0;
  left: 200;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bi-arrow-down-circle {
  font-size: 3em;  
  cursor: pointer;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bi-arrow-down-circle:hover {
  font-size: 3em;  
  cursor: pointer;

  background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  background-clip: text;
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



